<!-- <app-home></app-home> -->

<div class="container mt-3">
    <div class="card">
        <div class="card-header">
            <div class=" d-flex align-items-center justify-content-between">
                <h3>Angular Project</h3>
                <nav>
                    <button class="btn btn-outline-primary btn-sm" routerLink="/home">Home</button>&nbsp;
                    <button class="btn btn-outline-primary btn-sm" routerLink="/menu">Menu</button>&nbsp;
                    <button class="btn btn-outline-primary btn-sm" routerLink="/signup">Signup</button>&nbsp;
                    <button class="btn btn-outline-primary btn-sm" routerLink="/pipes">Pipes</button>&nbsp;
                    <button class="btn btn-outline-primary btn-sm" routerLink="/interaction">Data Sharing</button>&nbsp;
                    <button class="btn btn-outline-primary btn-sm" routerLink="/employeeList">CRUD</button>&nbsp;
                 <button class="btn btn-outline-primary btn-sm" (click)="logout()">Logout</button>&nbsp;
                </nav>
            </div>
        </div>
        <div class="card-body">
            <!-- <app-home></app-home> -->
            <!-- <app-menu></app-menu> -->
            <router-outlet></router-outlet>
        </div>
    </div>
</div>

